# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# CORS (frontend dev URL)
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Base de datos PostgreSQL (si no se define, se usa SQLite por defecto)
POSTGRES_DB=kampus
POSTGRES_USER=kampus
POSTGRES_PASSWORD=kampus
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT (opcional)
# SIMPLE_JWT_ACCESS_TOKEN_LIFETIME_MIN=5
# SIMPLE_JWT_REFRESH_TOKEN_LIFETIME_DAYS=1